 


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
} 

h3{
    color: #000;
}

.section{
    display: grid;
    grid-gap: 5px; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
    color: gray;
    display: flex;
    line-height: 27px;
   
  

}
.content{
    padding: 20px;
    
  
}
button{
    width: 150px;
    height: 40px;
    border: 1px solid rgb(81, 81, 238);
    background-color: white;
    color: blue;
    margin: 10px;
}
button:hover{
    color: #000;
    background-color: antiquewhite;
}